<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="authorization">Authorize</a></li>
        <li><a href="registration">Register</a></li>
        <li><a href="main">Main</a></li>
    </ul>
</nav>
</body>
</html>